
<footer class="page-footer font-small bg-dark pt-4">

    <div class="container d-flex justify-content-between align-items-center">
      
      <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
          <h4 class="text-light">Contato</h4>
        </div>
      </div>
 
      <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
        
              <ul class="redeSocial">
               <li><a href="#" class="icoFacebook" title="Facebook">
                 
                <fa-icon [icon]="faFacebook" class="faFacebook fa-2x p-3"></fa-icon>
                
                </a></li>
               <li><a href="#" class="icoInstagram" title="Instagram">
                 <fa-icon [icon]="faInstagram" class="faInstagram fa-2x p-3"></fa-icon>
                </a></li>
               <li><a href="#" class="icoLinkedin" title="Linkedin">
                 <fa-icon [icon]="faLinkedin" class="faLinkedin fa-2x p-3"></fa-icon>
                </a></li>
              </ul>				
      </div>
      </div>
  
    </div>
  
  

  </footer>
