<div class="artigo">
    <div class="d-flex justify-content-center">
        <h1>Evolucão dos casoa no Estado de São Paulo</h1>
    </div>
    <hr>
    <div class="conteudo">
        <div class="artigos">
            <a href="">
                <img src="../../assets/21-04-COVID-19-SP.png" class="img-sp" alt="">
                <h2>21-04-COVID-19-SP</h2>
                <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed debitis consectetur unde voluptate.
                </h3>
            </a>

        </div>

        <div class="artigos">
            <a href="">
                <img src="../../assets/18-04-COVID-19-SP.png " class="img-sp" alt="">
                <h2>18-04-COVID-19-SP</h2>
                <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed debitis consectetur unde voluptate.
                </h3>
            </a>

        </div>

        <div class="artigos">
            <a href="">
                <img src="../../assets/14-04-COVID-19-SP.png" class="img-sp" alt="">
                <h2>14-04-COVID-19-SP</h2>
                <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed debitis consectetur unde voluptate.
                </h3>
            </a>

        </div>

        <div class="artigos">
            <a href="">
                <img src="../../assets/08-04-COVID-19-SP.png" class="img-sp" alt="">
                <h2>08-04-COVID-19-SP</h2>
                <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed debitis consectetur unde voluptate.
                </h3>
            </a>
        </div>

    </div>

    <div class="conteudo-br">

        <div class="d-flex justify-content-center">
            <h1>Brasil</h1>
        </div>
        <div class="d-flex justify-content-center">
            <img src="../../assets/EV-kRKeXgAMEKx7.jpeg" class="img-br" alt="">
        </div>
    </div>
</div>